{% extends "markupwiki/base.html" %}

{% block title %} {{article.title}} {% endblock %}

{% block content %}

<h2 class="article_title">
{% block article_title %}
    {{article.title}}
    {% if article.is_deleted %} [deleted] {% endif %}
    {% if not version.is_latest %} [revision {{version.number}}] {% endif %}
{% endblock %}
</h2>

<div class="article_meta">
{% block article_meta %}
    {% if article.editable %}
        <a href="{% url edit_article article.title %}">edit article</a> |
    {% endif %}
    {% if article %}
        <a href="{% url article_history article.title %}">view history</a>
    {% endif %}

    {% if article and form %}
    <form method="POST" action="{% url update_article_status article.title %}">
        <ul>
        <li>{{form.status.label_tag}}  {{ form.status }}</li>
        <li>
        <button class="updateBtn" type="submit">
            <span>Update</span>
        </button>
        </li>
        </ul>
    </form>
    {% endif %}
{% endblock %}
</div>

<div class="article_body">
{% block article_body %}
{% if article.is_deleted %}
    <p>This article has been deleted.</p>
{% else %}
    {{version.body}}
{% endif %}

{% endblock %}
</div>

{% endblock content %}
