<h2>{{article.title}}</h2>

{% if article.locked %} <a href="{% url edit_article article.title %}">edit article</a> {% endif %}
| <a href="{% url article_history article.title %}">view history</a>

{% if form %}
<form method="POST" action="{% url update_article_status article.title %}">
    {{ form.as_ul }}
    <input type="submit" />
</form>
{% endif %}

<div class="about">

</div>

<div class="body">
{% if article.deleted %}
    This article has been deleted.
{% else %}
    {{version.body}}
{% endif %}
</div>
